@import 'normalize.css';

:root {
    --primary: rgb(254, 44, 85);
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    //Default layout
    --default-layout-sliderbar-width: 232px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'TikTokFont', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizespeed;
    line-height: 1.5;
}

// Fonts embedded
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

button,
input,
[index] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--black);
    text-decoration: none;
}

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
