.wrapper {
    width: 100%;
    margin-top: var(--default-layout-header-height);
}

.container {
    display: flex;
    // justify-content: center;
}

.content {
    flex: 1;
    min-height: 1000px;
}
